<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div class="layout-page">
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">Hasta Kayıt</h4>
          <div class="row">
            <div class="col-xl-12">
              <div class="card mb-8">
                <div class="card-body">
                  <form [formGroup]="hayvanKayitAddForm">
                    <div class="mb-3 row">
                      <label for="id" class="col-md-2 col-form-label">Id</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="id" formControlName="id" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="vatandasId" class="col-md-2 col-form-label">Vatandas Id</label>
                      <div class="col-md-10">
                        <select [(ngModel)]="vatandasBilgiFilter" class="form-select" aria-label="Default select example" id="vatandasId" formControlName="vatandasId">
                          <option value=0>Kişi Seçiniz</option>
                          <option *ngFor="let vatandasBilgi of vatandasBilgis" [value]="vatandasBilgi.id" [selected]="getSelectedVatandasBilgi(vatandasBilgi.id)" 
                          >{{vatandasBilgi.ad}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="belediyeId" class="col-md-2 col-form-label">Belediye Id</label>
                      <div class="col-md-10">
                        <div class="col-md-10">
                          <input class="form-control" type="text" value="Sneat" id="belediyeId" formControlName="belediyeId" />
                        </div>
                        <select [(ngModel)]="belediyeBilgiFilter" class="form-select" aria-label="Default select example" id="belediyeId" formControlName="belediyeId">
                          <option value=0>Belediye Seçiniz</option>
                          <option *ngFor="let belediyeBilgi of belediyeBilgis" [value]="belediyeBilgi.id" [selected]="getSelectedVatandasBilgi(belediyeBilgi.id)" 
                          >{{belediyeBilgi.belediyeAd}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="kafesNo" class="col-md-2 col-form-label">Kafes Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="kafesNo" formControlName="kafesNo" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="cipNo" class="col-md-2 col-form-label">Çip Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="cipNo" formControlName="cipNo" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="kulakNo" class="col-md-2 col-form-label">Kulak Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="kulakNo" formControlName="kulakNo" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="ad" class="col-md-2 col-form-label">Hayvan Adı</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="ad" formControlName="ad" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="hayvanTur" class="col-md-2 col-form-label">Hayvan Türü</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="hayvanTur"
                          formControlName="hayvanTur" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="irk" class="col-md-2 col-form-label">Hayvan Irkı</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="irk" formControlName="irk" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="yas" class="col-md-2 col-form-label">Hayvan Yaşı</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="yas" formControlName="yas" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="cinsiyet" class="col-md-2 col-form-label">Cinsiyet</label>
                      <div class="col-md-10">
                      <select class="form-select" aria-label="Default select example" id="cinsiyet" formControlName="cinsiyet">
                        <option value="erkek">Erkek</option>
                        <option value="dişi">Dişi</option>
                      </select>
                    </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="esgal" class="col-md-2 col-form-label">Eşgal</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="esgal" formControlName="esgal" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="gebeMi" class="col-md-2 col-form-label">Gebelik Durumu</label>
                      <div class="col-md-10">
                        <select class="form-select" aria-label="Default select example" id="gebeMi" formControlName="gebeMi">
                          <option value="evet">Evet</option>
                          <option value="hayir">Hayır</option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="geldigiTarih" class="col-md-2 col-form-label">Geldiği Tarih</label>
                      <div class="col-md-10">
                        <input class="form-control" type="date" value="2021-06-18" id="geldigiTarih"
                          formControlName="geldigiTarih" />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label for="geldigiAdres" class="col-md-2 col-form-label">Geldiği Adres</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="geldigiAdres"
                          formControlName="geldigiAdres" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="anamnez" class="col-md-2 col-form-label">Anamnez</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="anamnez" formControlName="anamnez" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="fotograf" class="col-md-2 col-form-label">Fotoğraf</label>
                      <div class="col-md-10">
                        <input class="form-control" type="search" value="Search ..." id="fotograf"
                          formControlName="fotograf" />
                      </div>
                    </div>
                  </form>
                  <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>