
<div *ngIf="deletedHekim" class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>{{deletedHekim.ad}} Hekimi Sil</h5>
        </div>

    </div>
    <div class="card-body">
        <strong>{{deletedHekim.id}}</strong> id değerine sahip <strong>{{deletedHekim.ad}}</strong> hekimi silmek istediğinizden emin misiniz?
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="delete(deletedHekim)" type="button" class="btn btn-success me-2">Sil</button>
                <button (click)="closeHekimDeleteModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>