<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div *ngIf="filterText" class="alert alert-warning">
                        {{filterText}} aradınız
                    </div>
                    <h4 class="fw-bold py-3 mb-4"> Vatandaşlar
                    </h4>
                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            <table *ngIf="dataLoaded==true" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Telefon Numarası</th>
                                        <th>Tc Numarası</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr *ngFor="let vatandasBilgi of vatandasBilgis">
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> {{vatandasBilgi.id}}
                                        </td>
                                        <td>{{vatandasBilgi.ad}}</td>
                                        <td>{{vatandasBilgi.soyad}}</td>
                                        <td>{{vatandasBilgi.telNo}}</td>
                                        <td>{{vatandasBilgi.tcNo}}</td>
                                        <td>
                                            <div class="demo-inline-spacing">
                                                <button (click)="showVatandasBilgiUpdateModal(vatandasBilgi)" type="button" class="btn btn-xs btn-primary">Düzenle</button>
                                                <button type="button" (click)="showVatandasBilgiDeleteModal(vatandasBilgi)" class="btn btn-xs btn-primary">Sil</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>