<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h3 class="card-title text-primary">Hoşgeldin {{currentUser.name}}! 🎉</h3>
                                            <p class="mb-4">
                                                Barınağa gelen hayvanları kayıt edebilir, tedavilerini buradan görebilir ve çok daha fazlasını yapabilirsin!
                                            </p>

                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-4">
                                            <img src="assets/assets/img/illustrations/man-with-laptop-light.png"
                                                height="140" alt="View Badge User"
                                                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                data-app-light-img="illustrations/man-with-laptop-light.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                            
                        </div>
                        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                            <div class="row">
                                <div class="col-6 mb-4">
                                    <div class="card">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Hayvan Kayıtları</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Hayvan Kayıt Etme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary" routerLink="/hayvanKayits/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Hayvanları Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary" routerLink="/hayvanKayits/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Hayvan Tedavileri</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Tedavi Ekleme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/hayvanTedavis/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Tedavileri Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/hayvanTedavis/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Hayvan Sahiplendirmeleri</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Sahiplendirme Ekleme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/hayvanSahiplendirmes/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Sahiplendirmeleri Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary" routerLink="/hayvanSahiplendirmes/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Mamalar</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Mama Kaydı Ekleme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/mamas/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Mamaları Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/mamas/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Vatandaş Bilgileri</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Kayıt Ekleme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/vatandasBilgis/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Kayıtları Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary"  routerLink="/vatandasBilgis/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h2 class="m-0 me-2">Belediye Bilgileri</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <span></span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Kayıt Ekleme</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary" routerLink="/belediyeBilgis/add">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"
                                                  ><i class="bx bx-mobile-alt"></i
                                                ></span>
                                              </div>
                                            <div
                                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h4 class="mb-0">Kayıtları Listele</h4>
                                                </div>
                                                <div class="user-progress">
                                                    <button class="btn btn-xs btn-primary" routerLink="/belediyeBilgis/getall">Git</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ Order Statistics -->

                        <!-- Expense Overview -->
                        
                        <!-- Transactions -->
                       
                </div>
                <!-- / Content -->

                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
</div>