<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                vatandasId
            </th>
            <th>
                belediyeId
            </th>
            <th>
                kafesNo
            </th>
            <th>
                cipNo
            </th>
            <th>
                kulakNo
            </th>
            <th>
                ad
            </th>
            <th>
                hayvanTur
            </th>
            <th>
                irk
            </th>
            <th>
                yas
            </th>
            <th>
                cinsiyet
            </th>
            <th>
                esgal
            </th>
            <th>
                gebeMi
            </th>
            <th>
                geldigiTarih
            </th>
            <th>
                geldigiAdres
            </th>
            <th>
                anamnez
            </th>
            <th>
                fotograf
            </th>
        </tr>
    </thead>
    <tr *ngFor="let hayvanKayit of hayvanKayits">
        <td>
            {{hayvanKayit.id}}
        </td>
        <td>
            {{hayvanKayit.vatandasId}}
        </td>
        <td>
            {{hayvanKayit.belediyeId}}
        </td>
        <td>
            {{hayvanKayit.kafesNo}}
        </td>
        <td>
            {{hayvanKayit.cipNo}}
        </td>
        <td>
            {{hayvanKayit.kulakNo}}
        </td>
        <td>
            {{hayvanKayit.ad}}
        </td>
        <td>
            {{hayvanKayit.hayvanTur}}
        </td>
        <td>
            {{hayvanKayit.irk}}
        </td>
        <td>
            {{hayvanKayit.yas}}
        </td>
        <td>
            {{hayvanKayit.cinsiyet}}
        </td>
        <td>
            {{hayvanKayit.esgal}}
        </td>
        <td>
            {{hayvanKayit.gebeMi}}
        </td>
        <td>
            {{hayvanKayit.geldigiTarih}}
        </td>
        <td>
            {{hayvanKayit.geldigiAdres}}
        </td>
        <td>
            {{hayvanKayit.anamnez}}
        </td>
        <td>
            {{hayvanKayit.fotograf}}
        </td>
      
    </tr>
</table>
