<div *ngIf="currentVatandasBilgi && vatandasBilgiUpdateForm">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5>{{currentVatandasBilgi.ad}} Güncelle</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="mb-3 row">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end">ID:</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control text-center" [placeholder]="currentVatandasBilgi.id" disabled />
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end"><label for="ad">Kişi Adı:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="vatandasBilgiUpdateForm">
                                <div class="align-items-center">
                                    <input type="text" id="ad" formControlName="ad" class="form-control"
                                        [placeholder]="currentVatandasBilgi.ad" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end"><label for="soyad">Kişi Soyadı:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="vatandasBilgiUpdateForm">
                                <div class="align-items-center">
                                    <input type="text" id="soyad" formControlName="soyad" class="form-control"
                                        [placeholder]="currentVatandasBilgi.soyad" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end"><label for="telNo">Telefon Numarası:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="vatandasBilgiUpdateForm">
                                <div class="align-items-center">
                                    <input type="text" id="telNo" formControlName="telNo" class="form-control"
                                        [placeholder]="currentVatandasBilgi.telNo" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end"><label for="tcNo">Tc Numarası:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="vatandasBilgiUpdateForm">
                                <div class="align-items-center">
                                    <input type="text" id="tcNo" formControlName="tcNo" class="form-control"
                                        [placeholder]="currentVatandasBilgi.tcNo" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer mt-1">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-fill btn-primary">Güncelle</button>
                <button (click)="closeUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>