<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page">
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="mb-3">
                        <label for="filterText" class="form-label">Hayvan ara</label>
                        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
                            placeholder="arama ifadesi giriniz">
                    </div>
                    <div *ngIf="filterText" class="alert alert-warning">
                        {{filterText}} aradınız
                    </div>
                    <h4 class="fw-bold py-3 mb-4"> Hekimler
                    </h4>
                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            <table *ngIf="dataLoaded==true" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Görev</th>
                                        <th>Tc Numarası</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr *ngFor="let hekim of hekims">
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> {{hekim.id}}
                                        </td>
                                        <td>{{hekim.ad}}</td>
                                        <td>{{hekim.soyad}}</td>
                                        <td>{{hekim.gorev}}</td>
                                        <td>{{hekim.tcNo}}</td>
                                        <td>
                                            <div class="demo-inline-spacing">
                                                <button (click)="showHekimUpdateModal(hekim)" type="button" class="btn btn-xs btn-primary">Düzenle</button>
                                                <button type="button" (click)="showHekimDeleteModal(hekim)" class="btn btn-xs btn-primary">Sil</button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-archive-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z">
                                                </path>
                                            </svg>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>