<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div class="layout-page">
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">Hekim Ekleme</h4>
          <div class="row">
            <div class="col-xl-12">
              <div class="card mb-8">
                <div class="card-body">
                  <form [formGroup]="hekimAddForm">
                    <div class="mb-3 row">
                      <label for="ad" class="col-md-2 col-form-label">Ad</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="ad" formControlName="ad" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="soyad" class="col-md-2 col-form-label">Soyad</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="soyad" formControlName="soyad" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="telNo" class="col-md-2 col-form-label">Telefon Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="telNo" formControlName="telNo" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="gorev" class="col-md-2 col-form-label">Görevi</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="gorev" formControlName="gorev" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="tcNo" class="col-md-2 col-form-label">Tc Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="tcNo" formControlName="tcNo" />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="sicilNo" class="col-md-2 col-form-label">Sicil Numarası</label>
                      <div class="col-md-10">
                        <input class="form-control" type="text" value="Sneat" id="sicilNo" formControlName="sicilNo" />
                      </div>
                    </div>
                  </form>
                  <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>